/*todo change class "failed-passed-value" to "failed-value" */
body {
    overflow-y: scroll;
}

.container {
    padding-top: 2%;
}

th {
    padding: 0px 20px 0px 0px;
    text-align: center !important;
}

tr {
    padding: 10px 0px 10px 0px;
}

td {
    padding: 10px 10px 10px 10px;
    color:#3a3a3a;
    text-align: center;
    vertical-align: middle;
}

td:nth-child(n+2) {
    text-align: center;
}

td.passed-value {
    min-width: 192px;
    text-align: center;
    vertical-align: middle;
}

i.bi-check-lg {
    font-size: 1.8rem;
    color: #41889f;
}

i.bi-question-square-fill {
    font-size: 1.8rem;
    color:coral;
}

td.failed-passed-value {
    position: relative;
    text-align: center;
    vertical-align: middle;
}

i.bi-exclamation-triangle-fill {
    font-size: 2rem;
    color: crimson;
}

p.server-side-table_testcase-name, .client-side-table_testcase-name {
    font-weight: 600;
}


/* Hard-Code for plain HTML/CSS/Bootstrap-result: */
.testclass-row {
    border-width: 4px;
    background-color: #f3f3f3;
    text-align: center;
}

.accordion-item {
    text-align: center !important;
}

.custom-tooltip {
    --bs-tooltip-bg: #8f8f8f !important;
    --bs-tooltip-opacity: 1 !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}